@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(360, 100%, 100%);
    --foreground: hsl(0, 0%, 0%);

    --card: hsl(180, 2%, 90%);
    --card-foreground: hsl(0, 0%, 98%);

    --popover: hsl(12, 88%, 69%);
    --popover-foreground: hsl(0, 0%, 98%);

    --primary: hsl(12, 88%, 59%);
    --primary-80: hsl(12, 88%, 59%, 0.8);
    --primary-foreground: hsl(0, 0%, 98%);

    --secondary: hsl(13, 100%, 96%);
    --secondary-80: hsl(13, 100%, 96%, 0.8);
    --secondary-foreground: hsl(233, 12%, 13%);

    --muted: hsl(227, 12%, 61%);
    --muted-foreground: hsl(0, 0%, 0%);

    --accent: hsl(12, 88%, 69%);
    --accent-foreground: hsl(233, 12%, 13%);

    --destructive: hsl(355, 61%, 50%);
    --destructive-90: hsl(355, 61%, 50%, 0.9);
    --destructive-foreground: hsl(0, 0%, 98%);

    --border: hsl(227, 12%, 61%);
    --input: hsl(227, 12%, 61%);
    --ring: hsl(12, 88%, 59%);

    --green: hsl(146, 66%, 41%);
    --red: hsl(0, 66%, 49%);
  }

  .dark {
    --background: hsl(12, 88%, 59%);
    --foreground: hsl(13, 100%, 96%);

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);

    --green: hsl(146, 66%, 41%);
    --red: hsl(0, 66%, 49%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-image: url('../public/images/bg-tablet-pattern.svg');
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

#cta {
  background-image: url('../public/images/bg-simplify-section-desktop.svg');
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  body {
    background-position: 50px -50px;
    background-size: 500px;
  }

  #cta {
    background-image: url('../public/images/bg-simplify-section-mobile.svg');
  }
}
