@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(360, 100%, 100%);
    --foreground: hsl(0, 0%, 0%);

    --card: hsl(180, 2%, 90%); /* darkBlue */
    --card-foreground: hsl(0, 0%, 98%); /* veryLightGray */

    --popover: hsl(12, 88%, 69%); /* darkBlue */
    --popover-foreground: hsl(0, 0%, 98%); /* veryLightGray */

    --primary: hsl(12, 88%, 59%); /* brightRed */
    --primary-foreground: hsl(0, 0%, 98%); /* veryLightGray */

    --secondary: hsl(13, 100%, 96%); /* veryPaleRed */
    --secondary-foreground: hsl(233, 12%, 13%); /* veryDarkBlue */

    --muted: hsl(227, 12%, 61%); /* darkGrayishBlue */
    --muted-foreground: hsl(0, 0%, 0%); /* veryLightGray */

    --accent: hsl(12, 88%, 69%); /* brightRedLight */
    --accent-foreground: hsl(233, 12%, 13%); /* veryDarkBlue */

    --destructive: hsl(12, 88%, 95%); /* brightRedSupLight */
    --destructive-foreground: hsl(0, 0%, 98%); /* veryLightGray */

    --border: hsl(227, 12%, 61%); /* darkGrayishBlue */
    --input: hsl(227, 12%, 61%); /* darkGrayishBlue */
    --ring: hsl(12, 88%, 59%); /* brightRed */

    --green: hsl(146, 66%, 41%);
  }

  .dark {
    --background: hsl(12, 88%, 59%); /* brightRed */
    --foreground: hsl(13, 100%, 96%); /* veryPaleRed */

    --card: hsl(222.2 84% 4.9%);
    --card-foreground: hsl(210 40% 98%);

    --popover: hsl(222.2 84% 4.9%);
    --popover-foreground: hsl(210 40% 98%);

    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 11.2%);

    --secondary: hsl(217.2 32.6% 17.5%);
    --secondary-foreground: hsl(210 40% 98%);

    --muted: hsl(217.2 32.6% 17.5%);
    --muted-foreground: hsl(215 20.2% 65.1%);

    --accent: hsl(217.2 32.6% 17.5%);
    --accent-foreground: hsl(210 40% 98%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(210 40% 98%);

    --border: hsl(217.2 32.6% 17.5%);
    --input: hsl(217.2 32.6% 17.5%);
    --ring: hsl(212.7 26.8% 83.9%);

    --green: hsl(146, 66%, 41%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-image: hsl(url('../public/images/bg-tablet-pattern.svg'));
  background-repeat: hsl(no-repeat);
  background-size: hsl(800px);
  background-position: hsl(90% -25%);
}

#cta {
  background-image: hsl(
    url('../public/images/bg-simplify-section-desktop.svg')
  );
  background-repeat: hsl(no-repeat);
}

@media (max-width: 576px) {
  body {
    background-position: hsl(50px -50px);
    background-size: hsl(500px);
  }

  #cta {
    background-image: hsl(
      url('../public/images/bg-simplify-section-mobile.svg')
    );
  }
}
